/* Body and Page Definitions */


/* Headings and text */
.information
{
	color:#0078ff;
	font-family:verdana;
}

.data
{
	background-color:#eeeeff;
}

.error
{
	color:#ff1111;
	font-family:verdana;
}
.warn
{
	color:#e5a11d;
	font-family:verdana;
}

.warning
{
	color:#e5a11d;
	font-family:verdana;	
}

.data
{
	color:#000000;
	font-family:verdana;
}

.columnA
{
	display:inline;
	background-color: #ffffff;
}

.columnB
{
	display:inline;
	background-color: #ddeeff;
}

.credit
{
	color:green;
}

.debit:before
{
	content:"(";
	color:red;
}
.debit
{
	color:red;
}
.debit:after
{
	content:")";
	color:red;
}

.creditEstimate
{
	color:blue;
}

.debitEstimate:before
{
	content:"(";
	color:purple;
}
.debitEstimate
{
	color:purple;
}
.debitEstimate:after
{
	content:")";
	color:purple;
}

.eventPerformance
{
	color:#fff;
	background-color:green;
}

.eventPerformance a
{
	color:#fff;
	background-color:green;
}

.eventSchedule
{
	color:#fff;
}

.eventSchedule a
{
	color:#fff;
}

.eventScheduleCrew
{
	color:#fff;
	background-color:#e9604a;
}

.eventScheduleCrew a
{
	color:#fff;
	background-color:#e9604a;
}

.eventScheduleCrew a:before
{
	color:#fff;
	content:"[crew]";
}

.eventScheduleCast
{
	color:#fff;
	background-color:#20646a;
}

.eventScheduleCast a
{
	color:#fff;
	background-color:#20646a;
}

.eventScheduleCast a:before
{
	color:#fff;
	content:"[cast]";
}

.eventPerformanceLocked
{
	color:#fff;
	background-color:#62ed62;
}

.eventPerformanceLocked a
{
	color:#fff;
	background-color:#62ed62;
}

.eventDay
{
	color:#fff;
	background-color:purple;
}

.eventDay a
{
	color:#fff;
	background-color:purple;
}

.estimate:before
{
	content:" [";
	color:blue;
}

.estimate
{
	color:blue;
}

.estimate:after
{
	content:"] ";
	color:blue;
}

.repeatShadedDark
{
	background-color: #ddeeff;
	border-color:#1482e0;
	border-width: 1px;
	border-style: solid;	
}

.repeatShadedLight
{
	background-color: #fefefe;
	border-color:#1482e0;
	border-width: 1px;
	border-style: solid;	
}

.noBorders
{
	border-width:0px;
}

.borderOne
{
	border-width:1px;
}
.inline
{
	display:inline;
}

.roundedBordersSmall
{
  -moz-border-radius-topright: .25em;
  -moz-border-radius-topleft: .25em;'
  -moz-border-radius-bottomright: .25em;
  -moz-border-radius-bottomleft: .25em;
  
  -webkit-border-top-right-radius: .25em;
  -webkit-border-top-left-radius: .25em;
  -webkit-border-bottom-right-radius: .25em;
  -webkit-border-bottom-left-radius: .25em;
}

.roundedBordersLarge
{
  -moz-border-radius-topright: 1em;
  -moz-border-radius-topleft: 1em;'
  -moz-border-radius-bottomright: 1em;
  -moz-border-radius-bottomleft: 1em;
  
  -webkit-border-top-right-radius: 1em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
}

.errorBox
{
	border:1px solid red;
	background-color:#eaeaea;
	color:red;
	
  -moz-border-radius-topright: .25em;
  -moz-border-radius-topleft: .25em;'
  -moz-border-radius-bottomright: .25em;
  -moz-border-radius-bottomleft: .25em;
  
  -webkit-border-top-right-radius: .25em;
  -webkit-border-top-left-radius: .25em;
  -webkit-border-bottom-right-radius: .25em;
  -webkit-border-bottom-left-radius: .25em;	
	
}

.informationBox 
{
	border:1px solid #0078ff;
	background-color:#eaeaea;
	color:#0078ff;	
	
  -moz-border-radius-topright: .25em;
  -moz-border-radius-topleft: .25em;'
  -moz-border-radius-bottomright: .25em;
  -moz-border-radius-bottomleft: .25em;
  
  -webkit-border-top-right-radius: .25em;
  -webkit-border-top-left-radius: .25em;
  -webkit-border-bottom-right-radius: .25em;
  -webkit-border-bottom-left-radius: .25em;	
}

.informationBoxLarge 
{
	border:1px solid #0078ff;
	background-color:#eaeaea;
	color:#0078ff;
	
  -moz-border-radius-topright: 1em;
  -moz-border-radius-topleft: 1em;'
  -moz-border-radius-bottomright: 1em;
  -moz-border-radius-bottomleft: 1em;
  
  -webkit-border-top-right-radius: 1em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;	
}

.topInformation
{
	position:absolute;
	margin-top: -125px;
	margin-left: 200px;
	opacity:0.9;
	filter:alpha(opacity=90);
}

.spaced
{
	margin-left:2px;
	margin-right:3px;
}

##############################
# Full Calendar Overrides
##############################
.eventPerformance
{
	color:#fff;
	background-color:green;
}

.eventPerformance a
{
	color:#fff;
	background-color:green;
}

.eventSchedule
{
	color:#fff;
}

.eventSchedule a
{
	color:#fff;
}

.eventScheduleCrew
{
	color:#fff;
	background-color:#e9604a;
}

.eventScheduleCrew a
{
	color:#fff;
	background-color:#e9604a;
}

.eventScheduleCrew a:before
{
	color:#fff;
	content:"[crew]";
}

.eventScheduleCast
{
	color:#fff;
	background-color:#20646a;
}

.eventScheduleCast a
{
	color:#fff;
	background-color:#20646a;
}

.eventScheduleCast a:before
{
	color:#fff;
	content:"[cast]";
}

.eventPerformanceLocked
{
	color:#fff;
	background-color:#62ed62;
}

.eventPerformanceLocked a
{
	color:#fff;
	background-color:#62ed62;
}

.eventDay
{
	color:#fff;
	background-color:purple;
}

.fc eventDay a
{
	color:#fff;
	background-color:purple;
}