/build
.project
/.settings
.metadata
.settings
.classpath
.DS_Store
/target
ProductionWebService/.classpath
ProductionWebService/.project
ProductionWebService/.settings/org.eclipse.wst.common.component
ProductionWebService/.settings/org.eclipse.wst.common.project.facet.core.xml
ProductionWebService/.settings/org.eclipse.wst.validation.prefs
.settings
BugsEJB/target
*.jasper
