<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>The Acting Company - Production</display-name>
  <!-- FILTER PARAMS FOR FILE UPLOAD
      <init-param>
      <param-name>thresholdSize</param-name>
      <param-value>51200</param-value>
    </init-param>
    <init-param>
      <param-name>uploadDirectory</param-name>
      <param-value>c:\fileupload\tmp</param-value>
    </init-param>
  -->
  <filter>
  	<filter-name>Production Security Filter v2</filter-name>
  	<filter-class>org.theactingcompany.security.SecurityFilter</filter-class>
  	<init-param> 
  	    <param-name>exclude</param-name>
  	    <param-value>errorPage login index console calendar inventory schedule not_authorized</param-value>
	</init-param>
	<init-param>
	   	<param-name>redirect</param-name>
	    <param-value>/not_authorized.xhtml</param-value>
	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>Production Security Filter v2</filter-name>
  	<url-pattern>/v2/*</url-pattern>
  	<url-pattern>/api/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>bootstrap</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <context-param>
    <param-name>db.tcpServer</param-name>
    <param-value>-tcpAllowOthers</param-value>
  </context-param>
  
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
    
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <!-- 
  <listener>
    <listener-class>org.h2.server.web.DbStarter</listener-class>
  </listener>
  -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
  </welcome-file-list>
  <!--
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Secure Area</web-resource-name>
      <description>Protects all resources</description>
      <url-pattern>/production/console/*</url-pattern>
      <url-pattern>/</url-pattern>
      <url-pattern>*.jspx</url-pattern>
      <url-pattern>*.jsf</url-pattern>
      <url-pattern>*.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin_authentication</role-name>
      <role-name>user_authentication</role-name>
      <role-name>scheduler_authentication</role-name>
      <role-name>guest_authentication</role-name>
      <role-name>inventory_authentication</role-name>
      <role-name>wardrobe</role-name>
      <role-name>lighting</role-name>
      <role-name>sound</role-name>
      <role-name>props</role-name>
      <role-name>scenic</role-name>
      <role-name>stageManagement</role-name>
      <role-name>general</role-name>
    </auth-constraint>
  </security-constraint>  
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>production</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>
	-->  
<error-page>
    <error-code>404</error-code>
    <location>/error/404.xhtml</location>
</error-page>
  <security-role>
    <role-name>admin_authentication</role-name>
  </security-role>
  <security-role>
    <role-name>user_authentication</role-name>
  </security-role>
  <security-role>
    <role-name>scheduler_authentication</role-name>
  </security-role>
  <security-role>
    <role-name>guest_authentication</role-name>
  </security-role>
  <security-role>
    <role-name>inventory_authentication</role-name>
  </security-role>
  <security-role>
    <role-name>wardrobe</role-name>
  </security-role>
  <security-role>
    <role-name>lighting</role-name>
  </security-role>
  <security-role>
    <role-name>sound</role-name>
  </security-role>
  <security-role>
    <role-name>props</role-name>
  </security-role>
  <security-role>
    <role-name>scenic</role-name>
  </security-role>
  <security-role>
    <role-name>stageManagement</role-name>
  </security-role>
  <security-role>
    <role-name>general</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>InventoryImageServlet</display-name>
    <servlet-name>InventoryImageServlet</servlet-name>
    <servlet-class>com.danielbchapman.production.web.schedule.servlet.InventoryImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryImageServlet</servlet-name>
    <url-pattern>/InventoryImageServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>H2Console</servlet-name>
    <servlet-class>org.h2.server.web.WebServlet</servlet-class>
    <init-param>
      <param-name>webAllowOthers</param-name>
      <param-value></param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>H2Console</servlet-name>
    <url-pattern>/console/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SeasonService</servlet-name>
  	<servlet-class>com.danielbchapman.production.web.services.SeasonService</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SeasonService</servlet-name>
  	<url-pattern>/api/season/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>HotelService</servlet-name>
  	<servlet-class>com.danielbchapman.production.web.services.HotelService</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HotelService</servlet-name>
  	<url-pattern>/api/hotel/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HelpServlet</servlet-name>
    <servlet-class>com.danielbchapman.production.web.schedule.servlet.HelpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpServlet</servlet-name>
    <url-pattern>/help/*</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>.drw</extension>
    <mime-type>application/drafting</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.dxf</extension>
    <mime-type>application/dxf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.dwg</extension>
    <mime-type>application/acad</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.gif</extension>
    <mime-type>image/gif</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.gz</extension>
    <mime-type>application/x-gzip</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.gzip</extension>
    <mime-type>application/x-gzip</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.jpe</extension>
    <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.jpg</extension>
    <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.jpeg</extension>
    <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.mcd</extension>
    <mime-type>application/vnd.vectorworks</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.psd</extension>
    <mime-type>application/octet-stream</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.ppt</extension>
    <mime-type>application/powerpoint</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.doc</extension>
    <mime-type>application/msword</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.docx</extension>
    <mime-type>application/msword</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.rtf</extension>
    <mime-type>text/richtext</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.shtml</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.swf</extension>
    <mime-type>application/x-shockwave-flash</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.text</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.tgz</extension>
    <mime-type>application/gnutar</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.tif</extension>
    <mime-type>image/tiff</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.tiff</extension>
    <mime-type>image/tiff</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.xls</extension>
    <mime-type>application/excel</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.xlsx</extension>
    <mime-type>application/excel</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.zip</extension>
    <mime-type>application/zip</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>.vwx</extension>
    <mime-type>application/vnd.vectorworks</mime-type>
  </mime-mapping>
</web-app>